@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hanken Grotesk;
}

.container {
  display: flex;
  box-shadow: 0 10px 20px 1px #dee8fe;
  width: 600px;
  border-radius: 1.5rem;
  margin: 17rem auto;
}

.result {
  width: 50%;
  background: linear-gradient(to bottom, hsl(234, 86%, 58%), hsl(234, 85%, 46%));
  color: hsl(241, 100%, 89%);
  text-align: center;
  border-radius: 1.5rem;
  padding: 2.5rem 2rem;
}

.resultT {
  font-size: 1.2rem;
}

.score {
  width: 170px;
  margin: 1.5rem auto;
  background: linear-gradient(to bottom, hsl(234, 83%, 40%), hsl(234, 85%, 50%));
  padding: 2.5rem 2rem;
  border-radius: 50%;
}

.user-score {
  font-size: 3rem;
  font-weight: bold;
}

.user-score, .remark {
  color: hsl(221, 100%, 96%);
}

.remark {
  font-size: 1.5rem;
  font-weight: bold;
}

.score-eval {
  margin-top: 1rem;
}

.summary{
  width: 50%;
  padding: 2.8rem 2rem;
}

.summaryT {
  font-size: 1.2rem;
  font-weight: 700;
}

.summaryChild {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .6rem .8rem;
  border-radius: .4rem;
  margin-top: 1.2rem;
}

.summaryChild span{
  color: #d2d2d2;
}

.summaryChild-wrapper {
  position: relative;
}

.summaryChild-wrapper::before, 
.summaryChild-wrapper::after {
  content: "";
  height: 20%;
  width: 3%;
  position: absolute;
}

.summaryChild::before, 
.summaryChild::after {
  content: "";
  height: 20%;
  width: 3%;
  position: absolute;
}

.summaryChildT {
  display: flex;
}

.summaryChildT img{
  width: 16px;
}

.reaction {
  background-color: rgba(255, 36, 72, 0.060);
}


.reaction::before {
  border-left: 1px solid rgb(245, 30, 66, 0.35);
  border-top: 1px solid rgb(245, 30, 66, 0.35);
  left: 0;
  top: 0;
  border-top-left-radius: .4rem;
}

.reaction::after {
  border-left: 1px solid rgb(245, 30, 66, 0.35);
  border-bottom: 1px solid rgb(245, 30, 66, 0.35);
  border-bottom-left-radius: .4rem;
  bottom: 0;
  left: 0;
}

.reactionW::before {
  border-right: 1px solid rgb(245, 30, 66, 0.35);
  border-top: 1px solid rgb(245, 30, 66, 0.35);
  right: 0;
  top: 0;
  border-top-right-radius: .4rem;
}

.reactionW::after {
  border-right: 1px solid rgb(245, 30, 66, 0.35);
  border-bottom: 1px solid rgb(245, 30, 66, 0.35);
  border-bottom-right-radius: .4rem;
  bottom: 0;
  right: 0;
}

.reactionT p {
  margin-left: .5rem;
  color: rgb(245, 30, 66);
}

.memory {
  background-color: rgba(255, 200, 36, 0.060);
}

.memory::before {
  border-left: 1px solid rgba(255, 200, 36, 0.35);
  border-top: 1px solid rgba(255, 200, 36, 0.35);
  left: 0;
  top: 0;
  border-top-left-radius: .4rem;
}

.memory::after {
  border-left: 1px solid rgba(255, 200, 36, 0.35);
  border-bottom: 1px solid rgba(255, 200, 36, 0.35);
  border-bottom-left-radius: .4rem;
  bottom: 0;
  left: 0;
}

.memoryW::before {
  border-right: 1px solid rgba(255, 200, 36, 0.35);
  border-top: 1px solid rgba(255, 200, 36, 0.35);
  right: 0;
  top: 0;
  border-top-right-radius: .4rem;
}

.memoryW::after {
  border-right: 1px solid rgba(255, 200, 36, 0.35);
  border-bottom: 1px solid rgba(255, 200, 36, 0.35);
  border-bottom-right-radius: .4rem;
  bottom: 0;
  right: 0;
}

.memoryT p {
  margin-left: .5rem;
  color: rgb(255, 200, 36);
}

.verbal {
  background-color: rgba(55, 176, 65, 0.060);
}

.verbal::before {
  border-left: 1px solid rgba(55, 176, 65, 0.35);
  border-top: 1px solid rgba(55, 176, 65, 0.35);
  left: 0;
  top: 0;
  border-top-left-radius: .4rem;
}

.verbal::after {
  border-left: 1px solid rgba(55, 176, 65, 0.35);
  border-bottom: 1px solid rgba(55, 176, 65, 0.35);
  border-bottom-left-radius: .4rem;
  bottom: 0;
  left: 0;
}

.verbalW::before {
  border-right: 1px solid rgba(55, 176, 65, 0.35);
  border-top: 1px solid rgba(55, 176, 65, 0.35);
  right: 0;
  top: 0;
  border-top-right-radius: .4rem;
}

.verbalW::after {
  border-right: 1px solid rgba(55, 176, 65, 0.35);
  border-bottom: 1px solid rgba(55, 176, 65, 0.35);
  border-bottom-right-radius: .4rem;
  bottom: 0;
  right: 0;
}

.verbalT p {
  margin-left: .5rem;
  color: rgb(55, 176, 65);
}

.visual {
  background-color: rgba(55, 119, 176, 0.060);
}

.visual::before {
  border-left: 1px solid rgba(55, 119, 176, 0.35);
  border-top: 1px solid rgba(55, 119, 176, 0.35);
  left: 0;
  top: 0;
  border-top-left-radius: .4rem;
}

.visual::after {
  border-left: 1px solid rgba(55, 119, 176, 0.35);
  border-bottom: 1px solid rgba(55, 119, 176, 0.35);
  border-bottom-left-radius: .4rem;
  bottom: 0;
  left: 0;
}

.visualW::before {
  border-right: 1px solid rgba(55, 119, 176, 0.35);
  border-top: 1px solid rgba(55, 119, 176, 0.35);
  right: 0;
  top: 0;
  border-top-right-radius: .4rem;
}

.visualW::after {
  border-right: 1px solid rgba(55, 119, 176, 0.35);
  border-bottom: 1px solid rgba(55, 119, 176, 0.35);
  border-bottom-right-radius: .4rem;
  bottom: 0;
  right: 0;
}

.visualT p {
  margin-left: .5rem;
  color: rgb(55, 119, 176);
}

.summary button {
  margin-top: 2rem;
  padding: .8rem 0;
  width: 100%;
  border-radius: 2rem;
  border: none;
  color: white;
  background-color: hsl(224, 30%, 27%);
}

.summary button:hover, button:active {
  cursor: pointer;
  background: linear-gradient(to bottom, hsl(234, 83%,65%), hsl(234, 85%, 50%));
}

@media only screen and (max-width: 1435px) {
  .container{
    margin: 7rem auto;
  }
}

@media only screen and (max-width: 635px) {
  .container{
    flex-direction: column;
    width: 98%;
    box-shadow: none;
    margin: 0 auto;
    border-radius: 0;
  }

  .result, .summary {
    width: 100%;
  }

  .result{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }

  .summary button{
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .container{
    flex-direction: column;
    width: 100%;
    box-shadow: none;
    margin: 0 auto;
  }
}